<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front-End</title>
</head>
<body>
    <h1>ejs模版引擎</h1>
    <hr>
    <p>姓名：<%=name%></p>
    <p>年龄：<%=age%></p>
</body>
</html>