<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h1>登录</h1>
    <hr>
    <form action="/addUser" method="POST">
        <label for="username">用户名：</label>
        <input type="text" name="username">
        <label for="password">密码：</label>
        <input type="password" name="password">
        <input type="submit" value="登录">
    </form>
</body>

</html>